.c-todo-input {
  &__container {
    display: flex;
    justify-items: baseline;
  }
  &-button {
    margin-right: 0.5rem;
  }
  &-symbol {
    color: var(--global-theme-color);
    fill: currentColor;
  }
  &-text {
    flex: 1;
    background-color: white;
    width: max-content;
    font-size: 1.1rem;
  }
  &-categories {
    font-size: 0.75rem;
    margin-top: 0.5rem;
  }
}
